@import "tailwindcss";

@theme {
	--color-green-100: #c0fd2b;
	--color-turquey-100: #f5fffd;

	--color-gray-900: #1a1a1a;
	--color-gray-700: #333333;
	--color-gray-600: #4d4d4d;
	--color-gray-300: #d1d5db;
	--color-gray-600: #282828;

	--default-font-family: "Montserrat", sans-serif;
}

html {
	background-color: black;
}
